body {
  height: auto;
  display: grid;
  place-items: center;
  margin: 0;
  background-size: cover;
  background-color: #70a572;
  background-attachment: fixed;
  max-width: 100vw;
}

/* body {
  background: linear-gradient(
    to bottom,
    rgba(159, 159, 159, 0) 0%,
    rgba(105, 105, 105, 0.65) 100%
  );
} */

header {
  margin: 10px 15px 0px 15px;

  display: grid;
  place-items: center;
  border-radius: 10px;
  position: static;
  padding: 10px 20px 0px 20px;
  background-color: rgba(255, 255, 255, 0.9);
  filter: drop-shadow(10px 10px 0.3em rgba(255, 255, 255, 0.6));
  /* animation: 4s ease-out 0s 1 headerAnimation; */
}

/* div.bg-img, */
section.textlist {
  background-color: rgba(255, 255, 255, 0.9);
  /* height: 100%; */
  padding: 25px;
  max-width: 800px;
  border-radius: 10px;
  /* position: static; */
  display: grid;
  filter: drop-shadow(10px 10px 0.3em rgba(255, 255, 255, 0.4));

  /* place-items: center; */
}

.gallery-2 {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

.gallery-2 img {
  max-width: 200px;
  max-height: 300px;
  object-fit: cover;
}

.gallery-1 {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  /* border: 5px solid white; */
}

.gallery-1 img {
  max-width: 200px;
  max-height: 133px;
  object-fit: cover;
}
@media only screen and (min-device-width: 1600px) {
  section.textlist {
    margin: 20px 15px 20px 15px;
  }
}

@media only screen and (min-device-width: 1000px) {
  section.textlist {
    margin: 20px 15px 20px 15px;
    min-width: 60%;
    max-width: 500px;
  }
}

/* @media screen and (min-width: 600px) {
  .hide-non-mobile {
    display: none;
  }
} */

button {
  /* position: fixed; */
  padding: 10px 20px;
}

button:hover {
  background-color: rgb(68, 127, 88);
  color: white;
  border-radius: 10px;
  transition: 1s;
  cursor: pointer;
}

ul.header {
  display: flex;
  /* position: absolute; */
  top: 20%;
  /* left: 50%; */
  /* transform: translateX(-50%); */
  list-style: none;
  color: #111;
  padding-inline-start: 0;
  overflow: hidden;
  white-space: nowrap;
}

.header li {
  display: list-item;
  text-align: center;
  width: 100px;
  background-color: rgb(95, 161, 86);
  border-radius: 10px;
  margin: 0px 15px;
  /* filter: drop-shadow(0 0 0.5em rgb(93, 150, 97)); */

  transition: 6s;

  /* text-align: center; */
}

.header li a:hover {
  background-color: rgb(47, 78, 58);
  color: white;
  border-radius: 10px;
}
.header li a {
  display: block;
  margin: 0 auto;
  color: rgb(47, 47, 47);
  /* text-align: center; */
  padding: 10px 10px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */

.active {
  background-color: #4caf50;
}

img.logo {
  max-width: 100%;
  max-height: 100px;
  height: auto;
  /* padding: 0px 20px 0px 20px; */
  position: relative;
}

.textlist a {
  color: rgb(105, 164, 102);
}

.textlist li a:focus {
  color: rgb(212, 255, 206);
  background: rgb(56, 56, 56);
  transition: 0.5s;
}

.textlist li a:hover {
  color: rgb(212, 255, 206);
  background: rgb(56, 56, 56);
  border-radius: 4px;
  padding: 8px;
  transition: 0.5s;
}

ul.resources {
  list-style-type: circle;
}

.resource-list {
  padding: 10px 0px 0px 10px;
}

.caresheets {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
}

.caresheets img {
  max-width: 100px;
  padding: 0px;
}

figcaption {
  text-align: center;
}

.caresheets li a:hover {
  color: rgb(105, 164, 102);
  background: grey;
  padding: 0px;
  filter: drop-shadow(0 -10px 3rem rgb(142, 179, 158));
  transition: 0.5s;
  background: none;
}

.donateButton img {
  max-width: 100px;
  transition: 5s;
  filter: drop-shadow(0 0 0.5em rgb(93, 150, 97));
}

.donateButton img:hover {
  transition: 2s;
  filter: drop-shadow(0 0 2em rgb(153, 207, 157));

  /* background-color: black; */
}
